{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "rules": {
    "global-require": 0,
    "arrow-body-style": ["error", "as-needed"],
    "react/destructuring-assignment": [<enabled>, "never"]
},
  "env": {
  "browser": true
}
}